body {
    font-family: Arial, sans-serif;
    background-color: #eae3ff;

}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: hsl(276, 100%, 97%);
}
h1 {
    text-align: center;
}
.question {
    margin-bottom: 10px;
}

